@import "variables";

:host {
  display: block;
  background: lighten($gray-2, 5);
  width: 100%;
  padding: 8px 20px;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
}

.crumb {
  display: inline-flex;
  padding-right: 15px;

  .file-name {
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: $gray-3;
    }
  }

  .divider {
    border-right: 1px solid $gray-5;
    margin-top: 2px;
    margin-bottom: 6px;
    padding-left: 15px;
    transform: rotate(15deg);
  }
}
