$gray-1: #1E2126;
$gray-2: #25282F;
$gray-3: #444856;
$gray-4: #7C838B;
$gray-5: #F9F9F9;

$default-text: $gray-5;
$background: $gray-2;

$blue: #4496C2;
$green: #5BC592;
$red: #D6535D;
$purple: #9B8AF7;
$yellow: #E2D758;
